<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    更新用户信息
    <form th:action="@{/user/update/}+${user.userId}" method="post">
        用户名：
        <input name="userName" type="text" th:value="${user.userName}" />
        <br /><br />
        密码：
        <input name="userPass" type="text" th:value="${user.userPass}" />
        <br /><br />
        性别：
        <select name="genderId">
            <option value="1" th:selected="${genderId}==1">男</option>
            <option value="0" th:selected="${genderId}==0">女</option>
            <option value=null th:selected="${genderId}==null">保密</option>
        </select>
        <br /><br />

        <input type="submit" value="提交" />

    </form>
</body>
</html>