<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>xzm</display-name>
  
  <!-- 缺省路径时，首页的返回 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- 注册servlet
  		servlet-name：自定义，只是一个标识
   -->
  <servlet>
  	<servlet-name>Demo</servlet-name>
  	<servlet-class>com.xzm.servlet.DemoServlet</servlet-class>
  </servlet>
  
  <!-- 地址栏映射 -->
  <servlet-mapping>
  	<servlet-name>Demo</servlet-name>
  	<url-pattern>/aaa</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>